@colorPrimary: #4b6eef;
@colorDisable: #999;
@colorSuccess: green;
@colorError: red;
@colorWarn: #ff6600;
@colorHeader: #2e3543;
@colorBorder: #ebebeb;
@colorShallow: #eef0f5;
@colorText: #262626;
@colorLight: #f7f7f7;
@borderRadius: 4px;
