@import '@/assets/css/var.less';

:global {
  :local(.root) {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    > .hd {
      display: flex;
      flex: none;
      align-items: center;
      justify-content: space-between;
      height: 48px;
      padding: 0 20px;
      background-color: #fff;
      border-bottom: 1px solid #e8e8e8;

      > .info {
        font-size: 12px;
        color: #b9babb;
      }

      .icon-link {
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }

      .anticon-star {
        margin-left: 10px;
        color: #ffb601;
        vertical-align: middle;
        cursor: pointer;
      }

      .anticon-star-outline {
        color: #ccc;
      }
    }

    > .cd {
      display: flex;
      flex: none;
      align-items: center;
      justify-content: center;
      height: 40px;
      border-bottom: 1px solid #e8e8e8;

      > .tools {
        width: 1014px;
        text-align: left;
      }
    }

    > .bd {
      flex: 1;
      width: 750px;
      height: 100%;
      padding: 10px 20px 0;
      margin: auto;
      overflow: auto;

      &.on {
        padding-bottom: 400px;
      }

      > header {
        border-bottom: 1px solid #eee;

        .ant-input-lg {
          padding: 0;
          margin: 15px 0;
          font-size: 32px;
          font-weight: bold;
          border-color: #fff;
        }
      }
    }

    > .ft {
      display: flex;
      flex: none;
      align-items: center;
      justify-content: space-between;
      height: 32px;
      padding: 0 20px;
      border-top: 1px solid #e8e8e8;

      .count {
        font-size: 12px;
        color: #999;
      }

      .btn {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        vertical-align: middle;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }

      .inspect {
        position: absolute;
        top: 120px;
        right: 0;
        width: auto;
        padding: 3px 10px 3px 25px;
        margin-right: 0;
        white-space: nowrap;
        background: #fff url('@/assets/images/db-arrow-2.svg') no-repeat 5px center;
        border: 1px solid #e2e2e2;
        border-right: none;
        border-radius: 4px 0 0 4px;
        transition: right 0.2s;

        &.close {
          background-image: url('@/assets/images/db-arrow.svg');
        }
      }

      .size {
        background: url('@/assets/images/layout.svg') no-repeat center center;
      }

      .outline {
        background: url('@/assets/images/outline.svg') no-repeat center center;
      }

      .check {
        display: none;
        background: url('@/assets/images/outline.svg') no-repeat center center;
      }
    }
  }
}
