:global {
  @keyframes vibrate {
    from {
      margin-left: 4px;
    }

    to {
      margin-left: 0;
    }
  }

  :local(.panel) {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1001;
    box-sizing: border-box;
    //display: flex;
    flex-direction: column;
    width: 480px;
    height: calc(100% - 90px);
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    transform: translateX(110%);

    &.on {
      transform: none;
    }

    > .hd {
      display: flex;
      flex: none;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;
      margin: 0 20px;
      border-bottom: 1px solid #eee;

      .anticon {
        font-size: 12px;
      }
    }

    > .cd {
      display: flex;
      flex: none;
      align-items: center;
      justify-content: space-between;
      padding: 14px 20px;
      font-size: 13px;

      > div {
        width: 103px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        background: #f3f5f9;
        border-radius: 4px;

        &:hover {
          cursor: pointer;
          opacity: 0.7;
        }

        &::before {
          display: inline-block;
          width: 6px;
          height: 6px;
          margin-right: 5px;
          margin-left: 6px;
          content: '';
          background: rgba(255, 135, 32, 0.4);
          border: 1px solid #ff8720;
          border-radius: 50px;
        }

        &.on {
          color: #fff;
          background: #1b68fc;
        }

        &.h0 {
          &::before {
            display: none;
          }
        }

        &.h1 {
          &::before {
            background: rgba(255, 69, 103, 0.4);
            border: 1px solid #ff4567;
          }
        }

        &.h3 {
          &::before {
            background: rgba(27, 201, 138, 0.4);
            border: 1px solid #1bc98a;
          }
        }
      }
    }

    > .bd {
      height: calc(100% - 100px);
      padding: 0 20px;
      overflow: auto;

      > .more {
        text-align: center;
      }

      .ant-collapse-item {
        margin-bottom: 14px;
        overflow: hidden;
        border: 1px solid #eee;
        border-radius: 4px;
      }

      .ant-collapse-header-text {
        display: flex;
        align-items: center;
        overflow: hidden;
      }

      .tag {
        flex: none;
        width: 58px;
        height: 24px;
        margin-right: 5px;
        line-height: 24px;
        color: #fff;
        text-align: center;
        background: #ff4567;
        border-radius: 4px;

        &.mid {
          color: #fff;
          background-color: #ff8720;
        }

        &.high {
          color: #fff;
          background: #ff4567;
        }

        &.low {
          color: #fff;
          background: #1bc98a;
        }
      }

      .title {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      .source {
        text-decoration: underline;
        cursor: pointer;
      }

      .actions {
        display: flex;
        gap: 10px;
      }

      dl {
        margin: 0;
      }

      dt {
        margin-bottom: 10px;
        font-weight: bold;
      }

      dd {
        margin: 0 0 20px;
      }
    }
  }

  :local(.mask) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0);

    > div {
      position: absolute;
      bottom: 30px;
      left: 50%;
      padding: 2.2px;
      background: linear-gradient(90deg, #24aafd 0%, #1f67fd 50%, #6b51ff 100%);
      border-radius: 100px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
      transform: translateX(-50%);

      &.anmi {
        animation: doc-Edit-Review_vibrate 0.1s infinite;
      }

      > .wrap {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 10px 30px;
        overflow: hidden;
        background: #fff;
        border-radius: 100px;
      }
    }
  }
}
