@import '@/assets/css/var.less';

:global {
  :local(.root) {
    > .bd {
      padding: 20px;
    }

    > .ft {
      padding: 10px 20px;
      text-align: right;
      border-top: 1px solid #eee;
    }
  }
}
