:global {
  :local(.root) {
    padding-top: 25px;

    > .bd {
      padding-bottom: 20px;

      .more {
        gap: 3px;
      }
    }

    > .ft {
      padding: 10px 20px;
      text-align: right;
      border-top: 1px solid #eee;
    }
  }
}
