:global {
  :local(.root) {
    box-sizing: border-box;
    width: 1200px;
    height: 800px;
    padding: 25px 18px 0 25px;
  }

  :local(.dialog) {
    > .close {
      top: 5px;
      right: 5px;
      padding: 1px 4px;
      font-size: 12px;
      color: #666;
      background-color: #eee;
      border-radius: 4px;
    }
  }
}
