:global {
  :local(.root) {
    width: 400px;

    > .bd {
      > .title {
        padding-bottom: 6px;
      }

      em {
        margin-right: 3px;
        color: #f00;
      }
    }

    > .ft {
      display: flex;
      gap: 10px;
      justify-content: center;
      margin-top: 20px;
    }
  }
}
