:global {
  :local(.root) {
    > .hd {
      padding: 20px 150px;
      margin-bottom: 15px;
    }

    > .bd {
      max-height: 400px;
      overflow: auto;
    }

    > .ft {
      display: flex;
      gap: 15px;
      justify-content: flex-end;
      padding: 14px 20px;
      margin-top: 35px;
      border-top: 1px solid #eee;
    }

    .form-item {
      display: flex;
      margin-bottom: 20px;

      > label {
        flex: none;
        width: 4em;
        padding-right: 20px;
        line-height: 32px;
        text-align: right;
      }
    }

    .field-form {
      .ant-form-item-label {
        line-height: 1.3;
        white-space: normal;
      }
    }
  }

  :local(.reference) {
    padding: 0 30px;

    > .tips {
      margin-top: 20px;
      color: #999;
    }

    .ant-select {
      width: 300px;
    }
  }
}
