:global {
  :local(.root) {
    > .allowInput {
      position: absolute;
      top: 16px;
      right: 10px;
      font-size: 12px;
      color: #999;
    }

    > .formItem {
      display: block;
      padding-bottom: 15px;
      text-align: left;

      > .label {
        padding-bottom: 5px;
        font-size: 13px;
      }
    }
  }
}
