:global {
  :local(.root) {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    align-items: center;
    font-size: 13px;
    text-align: left;

    > .title {
      white-space: nowrap;

      em {
        margin-right: 3px;
        color: #f00;
      }
    }

    .ant-input {
      width: 400px;
      margin-bottom: 10px;
    }
  }
}
