:global {
  :local(.root) {
    position: absolute;
    right: 0;
    box-sizing: border-box;
    width: 50%;
    padding: 10px 30px 0;
    overflow: auto;
    background: #fafafc;
    border-left: 1px solid #eaeced;

    > header {
      > .subject {
        margin-top: 5px;
        margin-bottom: 30px;
        font-size: 20px;
        font-weight: bold;
      }

      > .title {
        padding-bottom: 18px;
        font-size: 32px;
        font-weight: bold;
        border-bottom: 1px solid #eee;
      }
    }

    > .editor {
      font-size: 16px;

      h1 {
        margin: 32px 0 12px !important;
        font-size: 21px;
      }

      h2 {
        margin: 28px 0 10px !important;
        font-size: 18px;
      }

      h3 {
        margin: 24px 0 9px !important;
        font-size: 14px;
      }

      h4 {
        margin: 21px 0 9px !important;
        font-size: 13px;
      }

      h5 {
        margin: 19px 0 8px !important;
        font-size: 12px;
      }

      h6 {
        margin: 19px 0 8px !important;
        font-size: 12px;
      }

      p {
        margin: 15px 0;
        line-height: 1.5;
      }

      ul {
        padding-inline-start: 13px;
      }

      cite {
        display: inline-block;
        padding: 0 10px;
        font-style: normal;
        // vertical-align: middle;
        background-color: #e4f2fd;
      }

      cite[data-kind='write'] {
        display: block;
      }
    }
  }
}
