:global {
  :local(.root) {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 102px;
    padding: 8px;
    overflow: hidden;
    word-break: break-all;
    cursor: pointer;
    background: #f8fafc;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    transition: all 0.2s;

    &:hover {
      background: #fff;
      border-color: #4f46e5;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);

      .del,
      .replace {
        color: #ef4444; // 删除图标 hover 色
      }
    }

    > .loading {
      position: absolute;
      top: 8px;
      left: 8px;
    }

    > .del {
      position: absolute;
      top: 6px;
      right: 6px;
      padding: 4px;
      font-size: 14px;
      color: #cbd5e1;
      cursor: pointer;
      border-radius: 4px;
      transition: all 0.2s;

      &:hover {
        color: #ef4444 !important;
        background: #fee2e2;
      }
    }

    > .replace {
      position: absolute;
      top: 6px;
      right: 6px;
      padding: 4px;
      font-size: 14px;
      color: #cbd5e1;
      cursor: pointer;
      border-radius: 4px;
      transition: all 0.2s;

      &:hover {
        color: #3b82f6 !important;
        background: #eff6ff;
      }
    }

    > .name {
      width: 100%;
      padding: 0;
      overflow: hidden;
      font-size: 11px;
      line-height: 1.4;
      color: #64748b;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
