:global {
  :local(.dialog) {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 100;
    width: 750px;
    padding: 2.2px;
    background: linear-gradient(90deg, #24aafd 0%, #1f67fd 50%, #6b51ff 100%);
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: top, opacity 0.3s ease-out;
    transform: translateX(-50%);

    > .wrap {
      overflow: hidden;
      background: #fff;
      border-radius: 10px;
    }
  }
}
