:global {
  :local(.root) {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    align-items: center;

    > .title {
      flex: none;
      white-space: nowrap;
    }

    .ant-input {
      flex: none;
      width: 292px;
    }

    .ant-select {
      flex: none;
      width: 100px;
    }

    .ant-input-number {
      width: 70px;
    }
  }
}
